body {
  background-image: url("./images/back.svg");
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.col a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  color: black;
}
a + a {
  margin-left: 20px;
}

.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}

.heading {
  font-weight: 1000;
  text-transform: uppercase;
  letter-spacing: -0.08em;
  font-size: 25px;
  line-height: 30px;
}

.heading span {
  color: #003864;
}

.col p {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 22px;
  color: #3a3a3a;
}

.btn-primary {
  background-color: #003864;
}
.btn-secondary {
  background-color: white;
  color: black;
}

.close {
  border-radius: 5px;
  border-style: none;
  background-color: #5ea6dc;
}

@media (min-width: 576px) {
  .heading {
    font-weight: 1000;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: -0.08em;
    line-height: 60px;
  }
}
